/* You can add global styles to this file, and also import other style files */
/* Application wide styles are applied here */

h1 {
    color: #fff;
    font-family: "Mulish", sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: #fff;
    font-family: "Mulish", sans-serif;
}

body {
    color: #000;
    background-color: #2C3E50;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    margin: 2em;
}

button {
    color: #000;
    background-color: #D6EAF8;
}

input[type="text"] {
    color: #000;
    background-color: #D6EAF8;
    border: 2px solid #F4D03F;
    font-size: 18px;
    border-radius: 10px;
}

* {
    font-family: "Mulish", sans-serif;
}