/* You can add global styles to this file, and also import other style files */
/* Application wide styles are applied here */

h1 {
    color: #fff;
    font-family: "Mulish", sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: #fff;
    font-family: "Mulish", sans-serif;
}

body {
    color: #000;
    background-color: #2C3E50;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    margin: 2em;
}

button {
    background-color: #e0e0e0;
    color: black;
    border: 3px solid #45B39D;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 4px;
    font-size: 18px;
}

button:hover {
    background-color: #45B39D;
    color: black;
}

input[type="text"] {
    color: #000;
    background-color: #D6EAF8;
    border: 2px solid #F4D03F;
    font-size: 18px;
    border-radius: 10px;
}

* {
    font-family: "Mulish", sans-serif;
}

.nav {
    margin-bottom: 4px;
}

.nav-link:link, .nav-link:visited {
    background-color: #e0e0e0;
    color: black;
    border: 3px solid #45B39D;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 2px;
}

.nav-link:hover, .nav-link:active {
    background-color: #45B39D;
    color: black;
}